@import '../../styles/variables';

.status-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $white;
  text-align: center;

  &__controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
